# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv_spark/
*/venv/
*/venv_spark/

# Node
node_modules/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

####################################
# Spark / ML Artifacts (DO NOT COMMIT)
####################################

# Spark model outputs
omni_ai/models/

# Spark data files
*.parquet

# Hadoop / Spark checksum files
*.crc

# Spark job markers
_SUCCESS

